{% load i18n admin_urls %}
<div>
  <div class="d-flex">
    <div class="me-auto">
      {% url object.opts|admin_urlname:'change' object.id|admin_urlquote as change_url %}
      <strong><a href="{{ change_url }}">{{ object.inner_id }}</a></strong>
      <span>{{ object.created_at }}</span>
      <span class="small">{{ object.get_status_display }}</span>
    </div>
    <div class="fw-bold">
      {{ object.grand_total }}
    </div>
  </div>
  <div class="small mb-2">
    <strong>{% trans "Customer" %}:</strong> {{ object.customer }}
  </div>
  <div class="small"><strong>{% trans "Note" %}:</strong> {% if object.note %}{{ object.note }}{% else %}-{% endif %}</div>
</div>
